@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --background-glass: 0 0% 100% 0.9;
    --foreground-glass: 0 0% 3.9% 0.9;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --primary-hover: 0 0% 9%;
    --primary-foreground-hover: 0 0% 10%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --secondary-hover: 0 0% 96.1%;
    --secondary-foreground-hover: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --background-glass: 0 0% 3.9% 0.95;
    --foreground-glass: 0 0% 98% 0.95;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --primary-hover: 0 0% 90%;
    --primary-foreground-hover: 120, 2%, 20%, 0.85;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --secondary-hover: 120, 2%, 20%, 0.95;
    --secondary-foreground-hover: 46, 100%, 97%, 0.95;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .label {
    @apply text-xs pl-2 -mb-1.5 mt-1;
  }

  .glassmorphism-sm {
    @apply rounded-md bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-40 border bg-card border-secondary;
  }

  .header_text {
    @apply p-4 font-bold text-3xl;
  }
}
